$margin-right: 10px;
$margin-left: 30px;



.serach {
    margin-right: $margin-right;
    
    
}
.rounded-circle{
    margin-left: $margin-left;

}
.SearchIcon{
    position: absolute;
    top: 53%;
    right: 2rem !important;
}
